@model WebApplication.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Program)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Program)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intensity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intensity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacanciesNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacanciesNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
